body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.wrapper {
	padding-top: 5rem;
	margin: 0 auto;
	width: 600px;
}

.remove-button {
	background-color: red;
	border-radius: 50%;
}

.index {
	margin-right: 10px;
}

.done {
	text-decoration: line-through;
}

.addTodoForm {
	margin-bottom: 20px;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 0.5rem;
}

.input{
	margin-right: 1rem;
}

.addTodoInput {
	width: 200px;
	margin-right: 20px;
}

.addTodoBtn {
	background-color: lightgreen;
	font-weight: bolder;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid lightskyblue;
	border-color: lightskyblue transparent lightskyblue transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader {
	display: flex;
	justify-content: center;
	margin: 0.5rem;
}

.modalBtn {
	background-color: violet;
	font-weight: bolder;
	margin-top: 20px;
}
